__pycache__/
*.py[cod]
*.pyo
*.pyd

.poetry/
poetry.lock

.venv/
venv/
ENV/
env/

.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

*.log

.env
.env.*

.git/
.gitignore

data/*
!data/**/*.dvc
!data/**/.gitkeep          
tmp/ 
*.sqlite3
*.db

README.md