version: "3.8"

services:
  minio:
    image: minio/minio:latest
    container_name: minio_recommender_system
    ports:
      - "9000:9000"   # API
      - "9001:9001"   # Console
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  broker:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  api:
    image: recsys-api:latest
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "8000:8000"
    depends_on:
      - broker
      - minio
      - mlflow

  worker:
    image: recsys-worker:latest
    build:
      context: .
      dockerfile: Dockerfile.worker
    depends_on:
      - broker
      - minio
      - mlflow

  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    ports:
      - "5000:5000"
    volumes:
      - mlflow_artifacts:/mlflow/artifacts
    command: >
      mlflow server
      --host 0.0.0.0
      --artifacts-destination /mlflow/artifacts

volumes:
  minio_data:
  redis_data:
  mlflow_artifacts:
