name: CI/CD Recommender System

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test:
    name: Test
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: |
          poetry config virtualenvs.create false
          poetry install

      - name: Lint
        run: poetry run ruff check .

  train:
    name: Train model & log to MLflow
    runs-on: self-hosted
    needs: test

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install poetry

      - run: |
          poetry config virtualenvs.create false
          poetry install

      - name: Train model
        env:
          MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
        run: poetry run python src/presentation/train.py

      - name: Quality Gate
        env:
          MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
        run: poetry run python scripts/quality_gate.py


  build:
    name: Build Docker images locally
    runs-on: self-hosted
    needs: train

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build API image
        run: |
          docker build -f Dockerfile.api \
            -t recsys-api:latest .

      - name: Build Worker image
        run: |
          docker build -f Dockerfile.worker \
            -t recsys-worker:latest .
